<% this.title = list.id ? '编辑题单' : '新建题单' %>
<% include header %>
<div class="padding">
        <form action="<%= syzoj.utils.makeUrl(['list', list.id, 'edit']) %>" method="post">
          <div class="ui form">
            <div class="field">
              <label>题单名称</label>
              <input type="text" name="title" value="<%= list.title %>">
            </div>
            <div class="field">
              <label>题单描述</label>
              <input type="text" name="description" class="markdown-edit" value="<%= list.description %>">
            </div>
            <div class="field">
              <label>题单信息</label>
              <input type="text" name="information" class="markdown-edit" value="<%= list.information %>">
            </div>
            <div class="field">
              <label>题目</label>
              <textarea class="markdown-edit" rows="10" name="problems"><%= list.problems %></textarea>
            </div>
            <div class="inline field">
              <label class="ui header">公开</label>
              <div class="ui toggle checkbox">
                <input type="checkbox"<% if (list.is_public) { %> checked<% } %> name="is_public">
                <label><span style="visibility: hidden; ">　</span></label>
              </div>
            </div>
            <div style="text-align: center; "><button id="submit_button" type="submit" class="ui labeled icon blue button"><i class="ui edit icon"></i>提交</button></div>
          </div>
        </form>
<% include footer %>
